---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />

  <!-- Sección Hero -->
  <section class="relative bg-gray-900 text-white text-center py-32">
    <div class="absolute inset-0 bg-cover bg-center "></div>
    <div class="relative z-10">
        <div class="max-w-3xl mx-auto"> <!- Contenedor con ancho máximo -->
            <h1 class=" text-yellow-300 text-5xl font-bold">Somos tu socio estratégico</h1>
            <p class="text-xl mt-4 text-gray-300 text-center md:text-justify">
                En Seguridad y Salud somos tu socio estratégico que además de brindarte asesoría,
                realizamos un acompañamiento personalizado e integral.
                Al ser parte de tu empresa o negocio podrás ver notablemente los cambios en tu entorno laboral,
                 reduciendo así tu inversión en seguridad y salud para priorizarla en tu verdadera necesidad con sustento técnico.</p>
            <a href="/contacto" class="mt-6 inline-block bg-yellow-500 text-white px-6 py-3 rounded-lg text-lg hover:bg-blue-700">
                Contáctanos
            </a>
        </div>
    </div>
</section>

  <!-- Sobre Nosotros -->
  <section class="py-20 container mx-auto text-center">
    <h2 class="text-4xl font-bold text-gray-900">¿Quiénes Somos?</h2>
    <p class="text-lg text-gray-600 mt-4 max-w-2xl mx-auto">
      En Seguridad y Salud somos tu socio estratégico que además de brindarte asesoría, realizamos un acompañamiento personalizado e integral.
    </p>
  </section>

  <!-- Beneficios -->
  <section class="bg-gray-100 py-20" >
    <div class="container mx-auto text-center" >
      <h2 class="text-4xl font-bold text-gray-900">¿Por qué elegirnos?</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12" >
        <div class="relative bg-white shadow-xl rounded-lg p-4 text-center transition-transform transform hover:scale-105 hover:shadow-2xl hover:shadow-[rgba(255,255,0,0.5)] flex flex-col h-full ">
          <img src="/innovacion.svg" class="w-16 mx-auto mb-4" alt="Innovación" />
          <h3 class="text-xl font-semibold">Innovación</h3>
          <p class="text-gray-600">Usamos las últimas tecnologías para garantizar soluciones modernas y eficientes.</p>
        </div>
        <div class="relative bg-white shadow-xl rounded-lg p-4 text-center transition-transform transform hover:scale-105 hover:shadow-2xl hover:shadow-[rgba(255,255,0,0.5)] flex flex-col h-full ">
          <img src="/calidad.svg" class="w-16 mx-auto mb-4" alt="Calidad" />
          <h3 class="text-xl font-semibold">Calidad</h3>
          <p class="text-gray-600">Nuestros proyectos cumplen con altos estándares de calidad y rendimiento.</p>
        </div>
        <div class="relative bg-white shadow-xl rounded-lg p-4 text-center transition-transform transform hover:scale-105 hover:shadow-2xl hover:shadow-[rgba(255,255,0,0.5)] flex flex-col h-full ">
          <img src="/soporte.svg" class="w-16 mx-auto mb-4" alt="Soporte" />
          <h3 class="text-xl font-semibold">Soporte 24/7</h3>
          <p class="text-gray-600">Siempre estamos disponibles para ayudarte con cualquier duda o problema.</p>
        </div>
      </div>
    </div>
  </section>

  

  <!-- CTA Final -->
  <section class="text-center py-20 bg-gray-900 text-white">
    <h2 class="text-yellow-300 text-4xl font-bold">¿Listo para llevar tu negocio al siguiente nivel?</h2>
    <p class="text-lg mt-4">Mantenga su empresa segura y enfocada en sus metas. Nosotros nos encargamos de la protección.</p>
  
    
  
    <a href="/contacto" class="mt-6 inline-block bg-yellow-500 text-white px-6 py-3 rounded-lg text-lg hover:bg-blue-700">
      ¡Hablemos!
    </a>
  </section>

  <Footer />
</Layout>
